@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=Open+Sans&display=swap");

:root {
  --primaryColor: #5fb7ea;
  --secondPrimary: #ffb30f;
  --primaryRGBA: rgba(0, 0, 0, 0.3);
  --mainGray: #fafafa;
  --darkGray: #5f5e5e;
  --mainWhite: #fff;
  --mainBlack: #222;
  --mainTransition: all 0.3s ease-in-out;
  --mainSpacing: 0.3rem;
}

.text-title {
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  letter-spacing: var(--mainSpacing);
  text-transform: capitalize;
}
.text-main {
  color: var(--primaryColor);
}

body {
  font-family: "Open Sans", sans-serif !important;
  background: var(--mainGray) !important;
  color: var(--mainBlack);
}

.main-link {
  padding: 0.5rem 1rem;
  background-color: var(--primaryColor);
  color: var(--mainWhite);
  display: inline-block;
  text-transform: uppercase;
  letter-spacing: var(--mainSpacing);
  /* outline: 2px solid var(--primaryColor); */
  /* outline-offset: 4px; */
  border: none;
  border-radius: 5rem;

  transition: var(--mainTransition);
}
.main-link:hover {
  background-color: var(--secondPrimary);
  text-decoration: none;
  color: #fff;
  outline-color: var(--secondPrimary);
  border-radius: 5rem;
  box-shadow: 0 0 0pt 5pt var(--secondPrimary);
  font-weight: bold;


}
.cart-icon {
  cursor: pointer;
}

.checkout .checkout-summary,
.checkout .checkout-payment .payment-methods,.shipping-address, .all {
  padding: 30px;
  background: #f3f6ff;
  margin-bottom: 30px;
}
.checkout-btn  {
  width: 100%;
  height: 50px;
  padding: 2px 10px;
  font-family: 'Source Code Pro', monospace;
  font-weight: 700;
  font-size: 25px;
  text-align: center;
  color: #000000;
  background: #FF6F61;
  border: none;
  border-radius: 4px;
  transition: all .3s;
}

.checkout-btn:hover {
  color: #FF6F61;
  background: #000000;
}
.minus {
  margin-top: -4rem;
}
